.DS_Store
Builds/
Library/
Logs/
obj/
Temp/
iOS_Build
Android_Build
AssetBundles
xcuserdata
Assembly*.csproj
ovs_mobile*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs
*.swp
*.apk
*Log.txt
*mod_pbxproj.pyc*
target
.vs
*.user
**/build
.gradle
*.iml
**/local.properties
**/.idea/workspace.xml
**/.idea/libraries
**/captures
envVars
XcodeSrc/OVS/Unity-iPhone.xcodeproj/project.xcworkspace/xcuserdata
*.ipa

#RiderC#
.idea/
*.*.iml
**/BuildPrefsForRuntime/Resources/BuildPrefsForRuntime.asset
**/BuildPrefsForRuntime/Resources/BuildPrefsForRuntime.asset.meta
**/BuildPrefsForRuntime/Resources.meta
Assets/Plugins/Editor/JetBrains.meta
Assets/Plugins/Editor/JetBrains/Unity3DRider.cs
Assets/Plugins/Editor/JetBrains/Unity3DRider.cs.meta
Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta

UserSettings/Layouts/
UserSettings/Layouts/default-2023.dwlt
*.dwlt